# 02 Combining the Dataframes

In [9]:
import pandas as pd

## 2.1 Nat. Disasters - Importing Data

In [10]:
nat_df = pd.read_csv('data/all_natural_disasters_reduced.csv', index_col=0)
nat_df.head()

,Year,Group,Type,Event Name,Country,ISO,Region,Continent,Total Deaths,Total Affected,Duration
0,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,11000.0,NaN,0
1,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,NaN,NaN,0
2,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,266.0,NaN,0
3,1961,Meteorological,Storm,Hattie,Belize,BLZ,Central America,Americas,275.0,NaN,0
4,1961,Climatological,Drought,NaN,Canada,CAN,Northern America,Americas,NaN,NaN,0

## 2.2 GDP's - Importing Data

In [11]:
gdps_df = pd.read_csv('data/country_gdps.csv', index_col='iso').drop('Unnamed: 0', axis=1)
gdps_df.head()

,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
iso,,,,,,,,,,,,,,,,,,,,,
BGD,4.162649e+11,3.739021e+11,3.512384e+11,3.213790e+11,2.937546e+11,2.652362e+11,1.950787e+11,1.728855e+11,1.499905e+11,1.333557e+11,...,8.471006e+09,7.483685e+09,7.253575e+09,6.439688e+09,5.906637e+09,5.386055e+09,5.319458e+09,5.081413e+09,4.817580e+09,4.274894e+09
BLZ,1.789923e+09,1.585632e+09,1.945250e+09,1.887465e+09,1.844907e+09,1.796929e+09,1.734320e+09,1.676407e+09,1.581845e+09,1.531349e+09,...,4.730539e+07,4.491018e+07,4.737931e+07,4.440559e+07,4.006993e+07,3.619383e+07,3.374941e+07,3.185692e+07,2.996437e+07,2.807189e+07
CAN,1.990762e+12,1.645423e+12,1.742015e+12,1.725329e+12,1.649266e+12,1.527995e+12,1.556509e+12,1.805750e+12,1.846597e+12,1.828366e+12,...,7.914841e+10,7.182981e+10,6.566866e+10,6.108838e+10,5.451518e+10,4.937752e+10,4.502999e+10,4.222745e+10,4.093495e+10,4.046172e+10
ETH,1.112711e+11,1.076577e+11,9.591259e+10,8.426935e+10,8.177079e+10,7.429662e+10,6.458933e+10,5.561223e+10,4.764821e+10,4.331072e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FRA,2.937473e+12,2.630318e+12,2.728870e+12,2.790957e+12,2.595151e+12,2.472964e+12,2.439189e+12,2.855964e+12,2.811877e+12,2.683672e+12,...,1.419031e+11,1.297854e+11,1.189730e+11,1.100459e+11,1.015372e+11,9.400785e+10,8.475920e+10,7.560753e+10,6.746164e+10,6.222548e+10

## 2.3 Combining Datasets
In this step the natural disasters dataframes will be extended which 5 rows which hold the gpd's of the previous, current as well as the 3 following years.

- GDP-1, GDP, GDP+1, GDP+2, GDP+3
- Since we have GDP Data from 1960 to 2021 we can use natural disasters from 1961 to 2018

In [12]:
df_combined = nat_df.copy()

for index, row in df_combined.iterrows():
    iso = row['ISO']
    year = row['Year']

    df_combined.at[index, 'GDP-1'] = gdps_df.at[iso, f'{year-1}']
    df_combined.at[index, 'GDP'] = gdps_df.at[iso, f'{year}']
    df_combined.at[index, 'GDP+1'] = gdps_df.at[iso, f'{year+1}']
    df_combined.at[index, 'GDP+2'] = gdps_df.at[iso, f'{year+2}']
    df_combined.at[index, 'GDP+3'] = gdps_df.at[iso, f'{year+3}']

df_combined.head()

,Year,Group,Type,Event Name,Country,ISO,Region,Continent,Total Deaths,Total Affected,Duration,GDP-1,GDP,GDP+1,GDP+2,GDP+3
0,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,11000.0,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
1,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,NaN,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
2,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,266.0,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
3,1961,Meteorological,Storm,Hattie,Belize,BLZ,Central America,Americas,275.0,NaN,0,2.807189e+07,2.996437e+07,3.185692e+07,3.374941e+07,3.619383e+07
4,1961,Climatological,Drought,NaN,Canada,CAN,Northern America,Americas,NaN,NaN,0,4.046172e+10,4.093495e+10,4.222745e+10,4.502999e+10,4.937752e+10

## 2.4 Cleaning Up
Dropping Rows with Null Values in Target Columns

In [13]:
df_combined = df_combined.dropna(subset=['GDP-1', 'GDP', 'GDP+1', 'GDP+2', 'GDP+3'])
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13225 entries, 0 to 14051
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            13225 non-null  int64
 1   Group           13225 non-null  object
 2   Type            13225 non-null  object
 3   Event Name      3194 non-null   object
 4   Country         13225 non-null  object
 5   ISO             13225 non-null  object
 6   Region          13225 non-null  object
 7   Continent       13225 non-null  object
 8   Total Deaths    9292 non-null   float64
 9   Total Affected  9869 non-null   float64
 10  Duration        13225 non-null  int64
 11  GDP-1           13225 non-null  float64
 12  GDP             13225 non-null  float64
 13  GDP+1           13225 non-null  float64
 14  GDP+2           13225 non-null  float64
 15  GDP+3           13225 non-null  float64
dtypes: float64(7), int64(2), object(7)
memory usage: 1.7+ MB

## 2.5 Save Dataset

In [14]:
df_combined.to_csv('data/nat_disasters_vs_gdp.csv')