# 03 Uploading Data to Database

In [85]:
import pandas as pd
import couchdb
import numpy as np

## 3.1 Creating CouchDB Docker Container
- CouchDB Docker Installation:

    - docker pull couchdb
    
    - docker run -d --name mycouchdb -p 5984:5984 -e COUCHDB_USER=admin -e COUCHDB_PASSWORD=password couchdb

- Creating _users db:

    - curl -X PUT http://admin:password@127.0.0.1:5984/_users

## 3.2 Connecting to CouchDB

In [86]:
username = 'admin'
password = 'password'
db_url = 'http://127.0.0.1:5984/'
db_auth_url = f'http://{username}:{password}@127.0.0.1:5984/'

In [87]:
server = couchdb.Server(db_auth_url)
server

## 3.3 Creating Table

In [88]:
try:
    db = server.create('disasters')
except:
    # disasters db already exists
    db = server['disasters']
db

## 3.4 Importing Data

In [89]:
df = pd.read_csv('data/nat_disasters_vs_gdp.csv', index_col=0)
df.head()

,Year,Group,Type,Event Name,Country,ISO,Region,Continent,Total Deaths,Total Affected,Duration,GDP-1,GDP,GDP+1,GDP+2,GDP+3
0,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,11000.0,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
1,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,NaN,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
2,1961,Meteorological,Storm,NaN,Bangladesh,BGD,Southern Asia,Asia,266.0,NaN,0,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09
3,1961,Meteorological,Storm,Hattie,Belize,BLZ,Central America,Americas,275.0,NaN,0,2.807189e+07,2.996437e+07,3.185692e+07,3.374941e+07,3.619383e+07
4,1961,Climatological,Drought,NaN,Canada,CAN,Northern America,Americas,NaN,NaN,0,4.046172e+10,4.093495e+10,4.222745e+10,4.502999e+10,4.937752e+10

## 3.5 Preparing Data

In [90]:
# Replacing NaN Values with None so they are json compliant
df = df.replace({np.nan:None})

## 3.6 Upload to Database

In [91]:
# ONLY DO THIS STEP WHEN NECESSARY
# Duration ~ 10min
if db.info()['doc_count'] == 0:

    doc_ids = []
    
    for index, row in df.iterrows():
        doc_id, doc_rev = db.save(row.to_dict())
        doc_ids.append(doc_id)

    print(len(doc_ids))
    print(doc_ids[0])

else:
    print('Data already exists in database')

Data already exists in database